.main_outer{
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px ;
}
.post_input{
 
    margin-top: 10px;
    width: 28rem;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 50px;
    font-size: 15px;
}
.active_like{
  color: #45abff;
}
.image_Css{
    width: 50px;
    height: 50px;
    border-radius:30px ;
    margin-left:15px;
    margin-top:10px
}
.list_main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 10px;
}
.list_Css{
    margin-left: 35px;
}
.list_Css:hover {
    background-color: rgb(233, 232, 232);
    border-radius: 5px;

}

/* ************* new added ************ */


/* Sidebar */
.card a {
  color: #f8f9fa;
  text-decoration: none !important;
}
.card a .username{
  text-decoration: none !important;
  color: #333 !important;
  outline: 0;
  /* color: white; */
}



.sidebar {
    position: sticky;
    top: 20px;
    flex: 0.2;
    border-radius: 10px;
    text-align: center;
    height: fit-content;
  }
   /* Feed */
   .feed {
    flex: 0.6;
    /* margin: 0 20px; */
  }
  .user {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .comment__section{
    display: flex;
    justify-content: space-between;

  }
  .comment__section p{
    padding:0 10px;
  }
  .feed__inputOptions {
    display: flex;
    justify-content: space-evenly;
  }
  
  .inputOption {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
  }
  
  .inputOption:hover {
    background-color: whitesmoke;
    border-radius: 10px;
  }
  
  .inputOption h4, h5 {
    font-size: 0.90rem !important;
    margin-top: 0.5rem !important;
    margin-left: 5px;
  }
     
    .card-myheader {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: rgb(255, 255, 255) !important;
      border-bottom:none;
  }
    .card-footer {
      padding:0;
      background-color: rgb(252, 252, 252);
      border-top: 1px solid rgba(0,0,0,.125);
  }
  
   /* Post */
   .post {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .post__header {
    display: flex; 
  }
  
  .post__info {
    margin-left: 10px;
  }
  
  .post__info > p {
    font-size: 12px;
    color: gray;
  }
  
  .post__info > h2 {
    font-size: 15px;
  }

  /* *************end new added ************ */

@media screen and (max-width:768px){
    .main_outer{
        display: flex;
        flex-wrap: wrap;
        /* width: 25rem; */
        height: 8rem;
        background-color: rgb(255, 255, 255);
      
    }
    .post_input{
        border-radius: 15px;
        margin-left: 15px;
        width: 20rem;
        margin-top: 5px;
    }
    .list_Css{
        margin-left: 25px;
    }
}


