* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #e4e6e6;
  }
  p {
    margin: 0rem !important;
  }
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .col-md-5,
  .col-md-7 {
    margin-left: 0 !important;
    padding-left: 0;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  
  .profile {
    padding: 20px 15px;
    color: rgb(18, 18, 18);
  }
  .cover_img {
    width: 100%;
    height: 30rem;
    border-radius: 6px;
    margin-bottom: 14px;
  }
  .profile_details {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .pd_row {
    display: flex;
    align-items: flex-start;
  }
  .pd_img {
    width: 100px;
    margin-right: 20px;
    border-radius: 4px;
    
  }
  .pd_row div h3 {
    font-size: 25px;
    font-weight: 600;
  }
  .pd_row div p {
    font-size: 13px;
  }
  .pd_row div img {
    width: 25px;
    border-radius: 50%;
    margin-top: 5px;
  }
  .pd_right button {
    background: #1876f2;
    border: 0;
    outline: 0;
    padding: 6px 10px;
    display: inline-flex;
    align-items: center;
    color: #fff;
    border-radius: 3px;
    margin-left: 10px;
    cursor: pointer;
  }
  .pd_right button i {
    height: 15px;
    margin-right: 10px;
  }
  .pd_right button:nth-child(2) {
    background-color: #e4e6eb;
    color: #000;
  }
  .pd_right {
    text-align: right;
  }
  .pd_right a {
    columns: #e4e6eb;
    background: #e4e6e6;
    border-radius: 3px;
    padding: 4px 10px;
    display: inline-block;
    margin-top: 30px;
  }
  .pd_right a i {
    width: 20px;
  }
  .profile_info {
    display: flex;
    align-self: flex-start;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .info_col {
    flex-basis: 33%;
  }
  .post_col {
    flex-basis: 65%;
  }
  .profile_intro {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .profile_intro h3 {
    font-weight: 600;
  }
  .intro_text {
    text-align: center;
    margin: 10px 0;
    font-size: 15px;
  }
  .intro_text i {
    width: 15px;
    color: #f7b928;
  }
  .profile_intro hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 24px 0;
  }
  .profile_intro ul li {
    list-style: none;
    font-size: 15px;
    margin: 15px 0;
    display: flex;
    align-items: center;
  }
  .profile_intro ul li i {
    width: 20px;
    margin-right: 10px;
  }
  .title_box {
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  .title_box a {
    text-decoration: none;
    color: #1876f2;
    font-size: 14px;
  }
  .photo_box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    margin-top: 15px;
  }
  .photo_box div img {
    width: 30%;
    cursor: pointer;
  }
  /* Post */
  .my_post {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
  }
  
  .my_post img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  .my_post .post_top {
    display: flex;
    align-items: center;
  }
  
  .my_post .post_top input {
    width: 90%;
    padding: 10px;
    margin-left: 20px;
    border: 0;
    outline: none;
    background: #efefef;
    border-radius: 30px;
    font-size: 17px;
  }
  
  .my_post .post_top input:hover {
    background: #e3e3e3;
    cursor: pointer;
  }
  .my_post hr {
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
  }
  
  .my_post .post_bottom {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5px auto;
  }
  .my_post .post_bottom .post_icon {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 7px 25px;
    cursor: pointer;
  }
  .my_post .post_bottom .post_icon:hover {
    background: #efefef;
    border-radius: 8px;
  }
  .my_post .post_bottom .post_icon i.red {
    font-size: 23px;
    color: red;
    margin-right: 8px;
  }
  .my_post .post_bottom .post_icon i.green {
    font-size: 23px;
    color: #27cc37;
    margin-right: 8px;
  }
  .my_post .post_bottom .post_icon i.yellow {
    font-size: 23px;
    color: #f7b928;
    margin-right: 8px;
  }
  
  /* Friend post */
  .friends_post {
    margin: 10px 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  }
  .friends_post .friend_post_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .friends_post .friend_post_top .img_and_name {
    display: flex;
    align-items: center;
  }
  .friends_post .friend_post_top .img_and_name img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 8px;
    cursor: pointer;
  }
  .friends_post .friend_post_top .img_and_name .friends_name .friends_name {
    font-weight: bold;
    cursor: pointer;
  }
  .friends_post .friend_post_top .img_and_name .friends_name .friends_name:hover {
    text-decoration: underline;
  }
  .friends_post .friend_post_top .img_and_name .friends_name .time {
    font-size: 14px;
    color: #919191;
    margin: 3px 0;
  }
  .friends_post .friend_post_top .img_and_name .friends_name .time i {
    font-size: 10px;
    margin-left: 5px;
  }
  .friends_post .friend_post_top .menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .friends_post .friend_post_top .menu:hover {
    background: #efefef;
    cursor: pointer;
  }
  .friends_post .friend_post_top .menu i {
    line-height: 35px;
    margin-left: 8px;
    font-size: 18px;
  }
  .friends_post img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
  }
  .friends_post .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
  .friends_post .info .emoji_img {
    display: flex;
  }
  .friends_post .info .emoji_img img {
    width: 20px;
    height: 20px;
  }
  .friends_post .info .emoji_img p {
    margin-left: 10px;
    font-size: 16px;
    color: #919191;
  }
  .friends_post .info .comment {
    display: flex;
    align-items: center;
  }
  .friends_post .info .comment p {
    padding: 0 12px;
    font-size: 15px;
    color: #919191;
  }
  .friends_post hr {
    width: 100%;
    height: 1px;
    background: #cccccc;
    border: 0;
    margin: 10px 0;
  }
  .friends_post .like {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .friends_post .like .like_icon {
    display: flex;
    align-items: center;
  }
  .friends_post .like .like_icon i {
    font-size: 20px;
    margin-right: 8px;
    color: #919191;
  }
  .friends_post .like .like_icon i.activi {
    color: #45abff;
  }
  .friends_post .comment_warpper {
    display: flex;
    align-items: center;
  }
  
  .friends_post .comment_warpper img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-right: 15px;
  }
  .friends_post .comment_warpper .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #27cc37;
    border: 2px solid #fff;
    position: relative;
    top: 15px;
    right: 25px;
  }
  
  .friends_post .comment_warpper .comment_search {
    width: 95%;
    padding: 5px 15px;
    background: #efefef;
    border-radius: 30px;
  }
  .friends_post .comment_warpper .comment_search input {
    width: 80%;
    height: 30px;
    background: none;
    border: none;
    outline: none;
  }
  .friends_post .comment_warpper .comment_search i {
    padding: 0 5px;
    color: #919191;
  }
  


  
  @media (max-width: 480px) {
    .profile_info {
      display: inline-grid;
    }
  }
  @media (min-width: 481px) and (max-width: 767px) {
    .profile_info {
      display: inline-grid;
    }
    .info_col {
      flex-basis: 80%;
    }
    .post_col {
      flex-basis: 100%;
    }
  }
  @media (min-width: 280px) and (max-width: 767px) {
    .profile_info {
      display: block;
  }
  .my_post .post_bottom { 
    display: block;
  }
  .friends_post .info {
    display: inline;
  }

  .profile_details { 
    display: block;
  }
  .pd_right { 
    margin-top: 20px;
}
.row {  
  margin-right: calc(-2.2 * var(--bs-gutter-x)) !important;
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
}

