.main_outer{
    display: flex;
    flex-wrap: wrap;
    width: 35rem;
    height: 8rem;
    background-color: rgb(255, 255, 255);
    border-radius: 15px ;
    padding-left: 10px;
    padding-right: 15px;
}
.post_input{
    border-radius: 15px;
    margin-left: 15px;
    width: 25rem;
    margin-top: 5px;
}
.image_Css{
    width: 50px;
    height: 50px;
    border-radius:30px ;
}
.list_main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-top: 10px;
}
.list_Css{
    margin-left: 35px;
}
.list_Css:hover {
    background-color: rgb(233, 232, 232);
    border-radius: 5px;

}

@media screen and (max-width:768px){
    .main_outer{
        display: flex;
        flex-wrap: wrap;
        width: 25rem;
        height: 8rem;
        background-color: rgb(255, 255, 255);
      
    }
    .post_input{
        border-radius: 15px;
        margin-left: 15px;
        width: 20rem;
        margin-top: 5px;
    }
    .list_Css{
        margin-left: 25px;
    }
}